@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sedgwick+Ave&display=swap");
body {
  background-color: #7fffd4;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.background {
  background-image: url("chevrolet_camaro_zl1_2012-1920x1200-removebg.png");
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
  width: 950px;
  margin: auto;
  box-shadow: 4px 4px 50px 3px black;
}
.background h1 {
  font-size: 50px;
  margin-bottom: 100px;
  font-family: "Pacifico", cursive;
}
ul {
  display: inline;
  width: 60%;
  /* background-color: blue; */
}
ul li {
  list-style: none;
  margin: 50px;
  display: inline-block;
  font-size: 1.5em;
  float: right;
  font-family: "Sedgwick Ave", cursive;
  color: black;
}
footer p {
  font-size: 20px;
  margin-top: 100px;
  text-align: center;
}
img {
  float: left;
  width: 200px;
  align-items: flex-start;
}
